body{
    background-color: #EEEEEE;
    color: black;
}
.image1{
    height: 400px;
    width: 600px;
    position: relative;
    left: 320px;
    border-radius: 35%;
}
#p1{
    text-align: center;
}
.body2{
    background-color: #F0F0E1;
}
.flu{
    text-align: center;
    color: black;   
}
#lol1{
    text-align: center;
    position: relative;
    top: 80px;

}
.container{
    margin-top: 100px;
}